.box-body-button {
	padding: 30px;
}

.text-button {
	margin-top: 5px;
	font-size: large;
}

.box-box-button {
	text-align: center;
}

.button {
	width: 190px;
	height: 34px;
	border-radius: 10px;
	border: 1px solid black;
	background: white;
}
