.center {
	margin: auto;
	max-width: 640px;
	padding: 10px;
	display: flex;
	flex-direction: initial;
}

.box-body-search {
	padding: 30px;
}

.box-text {
	margin-left: 16%;
}

.text {
	margin-top: 8px;
}

.input-bar {
	height: 34px;
	width: 289px;
	border-radius: 10px;
	border: 1px solid black;
	background: white;
	margin-left: 64px;
}

.box-input-bar {
	margin-left: 8%;
}

.test {
	width: 223px;
	height: 25px;
	position: relative;
	top: 6px;
	right: 223px;
	display: block;

	border: 1px solid lightgray;
}

.test-toogle {
	width: 20px;
	height: 20px;
	position: relative;
	left: 230px;
	bottom: 24px;

}

.test-div-box {
	width: 259px;
	height: 25px;
	border-radius: 10px;
	border: 1px solid black;

}

.test-text {
	margin-top: 4px;
	margin-right: 150px;
}

.test-text-toogle {
	margin: auto 228px auto auto;
}
