.center {
	margin: auto;
	max-width: 640px;
	border: 5px solid #FFFF00;
	padding: 10px;
	display: flex;

}

.box-text {
	margin-top: 10px;
}

.input-bar {
	height: 34px;
	width: 338px;
}

.box-input-bar {
}