.box-body-sensor-report {
	padding: 30px;
}

.text-sensor-report {
	text-align: center;
	margin-top: 70px;
}

.box-text-sensor-report {
	width: 528px;
	height: 164px;
	border-radius: 10px;
	border: 1px solid darkgray;
	background: lightgray;
	margin: 0 auto;
}

/*@media screen and (min-width: 1600px){*/
/*	.box-text-sensor-report {*/
/*		right: 688px;*/
/*	}*/
/*}*/
